.main{
    min-height: calc(100vh - 30rem);
    margin: 6rem 4rem 4rem 4rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.heading{
    width: 100%;
    margin-bottom: 4rem;
}

.heading h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.body{
    width: 100%;
    margin-bottom: 4rem;
}

.body p{
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.date{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.date p{
    font-size: 2.2rem;
    font-weight: 400;
}