<div class="icon">ICON</div>
<div class="navbar">
    <ul class="nav-items">
        <li>
            <a href="/" id="home">Home</a>
        </li>
        <li>Contact</li>
        <li>
            <a href="/blogs" id="blog">Blogs</a>
        </li>
        <li>About</li>
        <% if(user.login === true){ %>
            <li>
                <a href="/addPost" id="add-post">Add-Post</a>
            </li>
        <% } %>
        <li id="login" class="<% if(user.login === true){ %> hide <% } %>">
            <a href="/signIn">Sign In</a>
        </li>
    </ul>
    <div class="user <% if(user.login===false){ %> hide <% } %>" id="user">
        <p>
            <%=user.name[0] %>
        </p>
        <div class="user-options hidden" id="user-options">
            <div class="triangle-style"></div>
            <div class="box-style">
                <div class="user-name">
                    <h4><%= user.name.toUpperCase() %></h4>
                </div>
                <div class="profile">
                    <a href="">Profile</a>
                </div>
                <div>
                    <a href="/yourPost">Your Posts</a>
                </div>
                <div class="settings">
                    <a href="">Settings</a>
                </div>
                <div class="log-out">
                    <a href="/logOut">log out</a>
                </div>
            </div>

        </div>
    </div>
</div>