<div class="main-posts">
    <h2>Some New Posts</h2>
    <div class="new-posts">
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
    </div>
</div>