<!--I directly added post because of three reasons :-
    1. These are supposed to be 5 major blogs which will not change, until some popularity criteria
    2. I didn't like the sliding effect much.
    3. It was too much of a hassle to write js for three divs
    -->
<div class="container">
  <div class="box-container">
    <div class="box">
      <a href="/blogs/14">
        <h2>Blog</h2>
        <p>
          A blog (a truncation of "weblog")[1] is an informational website
          consisting of discrete, often informal diary-style text entries
          (posts). Posts are typically displayed in reverse chronological order
          so that the most recent post appears first, at the top of the web
          page. Until 2009, blogs were often the work of a single individual,
          occasionally of a small group, and often covered a single subject or
          topic. In the 2010s, "multi-author blogs" (MABs) emerged, featuring
          the writing of multiple authors and sometimes professionally edited.
          MABs from newspapers, other media outlets, universities, think tanks,
          advocacy groups, and similar institutions account for an increasing
          quantity of blog traffic. The rise of Twitter and other
          "microblogging" systems helps integrate MABs and single-author blogs
          into the news media. Blog can also be used as a verb, meaning to
          maintain or add content to a blog.
        </p>
      </a>
    </div>
    <div class="box">
      <a href="/blogs/20">
        <h2>JavaScript</h2>
        <p>
          JavaScript, often abbreviated as JS, is a programming language and
          core technology of the Web, alongside HTML and CSS. 99% of websites
          use JavaScript on the client side for webpage behavior. Web browsers
          have a dedicated JavaScript engine that executes the client code.
          These engines are also utilized in some servers and a variety of apps.
          The most popular runtime system for non-browser usage is Node.js.
          JavaScript is a high-level, often just-in-time compiled language that
          conforms to the ECMAScript standard. It has dynamic typing,
          prototype-based object-orientation, and first-class functions. It is
          multi-paradigm, supporting event-driven, functional, and imperative
          programming styles. It has application programming interfaces (APIs)
          for working with text, dates, regular expressions, standard data
          structures, and the Document Object Model (DOM).
        </p>
      </a>
    </div>
    <div class="box">
      <a href="/blogs/21">
        <h2>Node Js</h2>
        <p>
          Node.js is a cross-platform, open-source JavaScript runtime
          environment that can run on Windows, Linux, Unix, macOS, and more.
          Node.js runs on the V8 JavaScript engine, and executes JavaScript code
          outside a web browser. Node.js lets developers use JavaScript to write
          command line tools and for server-side scripting. The ability to run
          JavaScript code on the server is often used to generate dynamic web
          page content before the page is sent to the user s web browser.
          Consequently, Node.js represents a "JavaScript everywhere" paradigm,
          unifying web-application development around a single programming
          language, as opposed to using different languages for the server-
          versus client-side programming.
        </p>
      </a>
    </div>
    <div class="box">
      <a href="/blogs/22">
        <h2>Easy Java Simulations</h2>
        <p>
          Easy JavaScript Simulations (EJSS), formerly known as Easy Java
          Simulations (EJS), is an open-source software tool, part of the Open
          Source Physics project, designed for the creation of discrete computer
          simulations. A discrete computer simulation, or simply a computer
          simulation, is a computer program that tries to reproduce, for
          pedagogical or scientific purposes, a natural phenomenon through the
          visualization of the different states that it can have. Each of these
          states is described by a set of variables that change in time due to
          the iteration of a given algorithm. In creating a simulation with the
          help of EJSS, the user does not program the simulation at the level of
          writing code, instead the user is working at a higher conceptual
          level, declaring and organizing the equations and other mathematical
          expressions that operate the simulation. EJSS handles the technical
          aspects of coding the simulation in the Java programming language,
          thus freeing the user to concentrate on the simulation s content.
        </p>
      </a>
    </div>
    <div class="box">
      <a href="/blogs/23">
        <h2>Express Js</h2>
        <p>
          Express.js, or simply Express, is a back end web application framework
          for building RESTful APIs with Node.js, released as free and
          open-source software under the MIT License. It is designed for
          building web applications and APIs. It has been called the de facto
          standard server framework for Node.js The original author, TJ
          Holowaychuk, described it as a Sinatra-inspired server, meaning that
          it is relatively minimal with many features available as plugins.
          Express is the back-end component of popular development stacks like
          the MEAN, MERN or MEVN stack, together with the MongoDB database
          software and a JavaScript front-end framework or library.
        </p>
      </a>
    </div>
  </div>
  <div class="bullets">
    <div class="bullet"></div>
    <div class="bullet"></div>
    <div class="bullet"></div>
    <div class="bullet"></div>
    <div class="bullet"></div>
  </div>
</div>
