.header{
    position: fixed;
    top: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 6rem;
    width: 100%;
    z-index: 1;
}

.nav-items, .navbar, .user p{
    display: flex;
    gap: 5.5rem;
    justify-content: space-around;
    align-items: center;
}

.nav-items *{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
}

.nav-items a{
    padding: 2rem 2.5rem;
    text-decoration: none;
    background-color: white;
    color: black;
}

.nav-items a:hover{
    color: violet;
}

ul{
    list-style: none;
}

.user{
    margin: 0rem 3rem;
}

.user p{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    background-color: white;
}

.user-options{
    position: fixed;
    top: 5.1rem;
    right: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.triangle-style{
    height: 0;
    width: 0;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 1.4rem solid white;
}

.box-style{
    height: 8rem;
    background-color: white;
    width: 7rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-style h4{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.box-style a{
    text-decoration: none;
    font-size: 1.2rem;
}

.hidden{
    visibility: hidden;
}