<div class="footer">
    <div class="copyright">
   <p>&copy; <%= new Date().getFullYear() %> | Authored by Hemant Singh. All rights preserved</p>
   </div>
   <div class="links">
    <a href="http://">Contact</a>
    <a href="http://">About</a>
    <a href="http://">Favourite Posts</a>
    <a href="http://">Privacy Policy</a>
    <a href="http://">Terms</a>
    <a href="http://">Conditions</a>
   </div>
</div>