<form action="/addPost" method="post" class="blog-post">
    <input type="text" name="heading" id="heading" placeholder="Enter the Heading Here" />
    <textarea name="blog-post" id="blog-post">Enter the Text Here.....</textarea>
    <input type="submit" value="Add Post" id="submit">
</form>