<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - SignIn</title>
    <link rel="stylesheet" href="css/signIn/styles.css">
</head>
<body>
    <h1>Enter the Details for Signing In</h1>
    <form action="/signIn" method="post">
        <div class="name">
        <label for="name">NAME</label>
        <input type="text" name="name" id="name">
        </div>
        <div class="pass">
        <label for="pass">PASSWORD</label>
        <input type="password" name="pass" id="pass">
    </div>
    <div class="submit">
        <input type="submit" value="SUBMIT">
        </div>
    </form>
    <p class="register">
        If Not Already A Member, <a href="/register">Register Here</a>.
    </p>
</body>
</html>